.mentee-application {
    padding: 80px 0;
}

.mentee-application form {
    max-width: 100%;
    width: 90%;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 20px 40px 20px 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.mentee-application .illustration {
    text-align: center;
    padding: 0 0 20px;
    font-size: 100px;
    color: rgb(244, 71, 107);
}

.mentee-application form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}

.mentee-application .btn-primary {
    background: rgb(34,167,95);
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
}

.mentee-application .btn {
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-left: 5%;
    text-shadow: none;
    outline: none !important;
}

.mentee-application .btn-primary:hover {
    background: rgb(28,161,89);
}

.mentee-application .btn-primary:active {
    transform: translateY(1px);
}

.mentee-application container {
    margin: 15px 5px 15px 5px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.mentee-application well {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding: 10px;
    margin-top: 0px;
}

.mentee-application h1 {
    font-size: 24px;
    margin-top: 10px;
}

.mentee-application small {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 9px;
    letter-spacing: 0px;
}

.mentee-application .first {
    margin-top: 15px;
}

.mentee-application .radio-inline {
    margin-right: 10px;
}

.mentee-application .checkbox-inline {
    margin-left: 0px;
}