body {
  background: #f1f7fc; }

.application {
  background: #f1f7fc;
  padding: 80px 0; }

.application form {
  background-color: #ffffff;
  padding: 20px 40px 20px 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

.application .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f4476b; }

.application form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px; }

.application container {
  margin: 15px 5px 15px 5px;
  max-width: 100%;
  width: auto;
  height: auto; }

.application well {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding: 10px;
  margin-top: 0px; }

.application h1 {
  font-size: 24px;
  margin-top: 10px; }

.application small {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: 0px; }

.application .first {
  margin-top: 15px; }

.application .radio-inline {
  margin-right: 10px; }

#add-dreamers:disabled {
  background-color: #dfe7f1; }

#num-children:disabled {
  background-color: #dfe7f1; }

input[type="checkbox"] {
  margin-right: 10px;
}

label.checkbox-inline {
    margin-right: 10px;
}

.form-div {
  max-width: 100%;
  width: 90%;
  margin: 15px auto;
}

.application .submit-button {
  border: 3px solid #6aaf52;
  font-size: 18px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 0px;
  color: #6aaf52;
  margin-top: 15px;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6aaf52;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
